NodeRED_PlantPixel.json
[
    {
        "id": "dc0c0de9ad13d5be",
        "type": "tab",
        "label": "PlantPixel_for Will",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "069136325b92f20b",
        "type": "group",
        "z": "dc0c0de9ad13d5be",
        "name": "1st Plant Module (Vertically lowest one)",
        "style": {
            "label": true,
            "fill": "#ffC000",
            "fill-opacity": "0.3",
            "color": "#3f3f3f"
        },
        "nodes": [
            "c608c69c39657097",
            "7e81aeb62632958d",
            "9adbdb8402f2b37f",
            "b46fad939bcdaa5c",
            "0d2e3b4a4515120d",
            "ee5a31e08ad6eb30",
            "f80c179c0636b403",
            "64b7089e12097f58",
            "3476f86ab22b9fa3",
            "6af37b0d04f832f5",
            "13785dc296258509",
            "82fcbe7ce721d6bd"
        ],
        "x": 294,
        "y": 39,
        "w": 1392,
        "h": 282
    },
    {
        "id": "2237b58f75426d4e",
        "type": "group",
        "z": "dc0c0de9ad13d5be",
        "name": "2st Plant Module (Vertically middle one)",
        "style": {
            "label": true,
            "color": "#3f3f3f",
            "fill": "#ffC000",
            "fill-opacity": "0.3"
        },
        "nodes": [
            "414510ea2e2e18bb",
            "8ea0dda8415203d4",
            "34dc6d3141990e25",
            "c415d6fa4c782f4e",
            "549c6d5c1f604b65",
            "5e20a90f49eb6eb9",
            "b422d5faae08de68",
            "9baca3d41171d75e",
            "6586d8b791fa7268",
            "837b313976152080",
            "440b17f67a4a8e82",
            "fd2ff5453e809dad"
        ],
        "x": 294,
        "y": 359,
        "w": 1392,
        "h": 282
    },
    {
        "id": "fabcb4cc818aa2a9",
        "type": "group",
        "z": "dc0c0de9ad13d5be",
        "name": "3rd Plant Module (Vertically highest one)",
        "style": {
            "label": true,
            "color": "#3f3f3f",
            "fill": "#ffC000",
            "fill-opacity": "0.3"
        },
        "nodes": [
            "4fa257f1fe041cd4",
            "4f11ba76083c8b83",
            "41944042986d8449",
            "c2965f22b63a0547",
            "e465ddc47d8d9158",
            "d6d5dc0d1be80854",
            "72de137220e9d9c8",
            "fa9d8d9ae5ae54db",
            "6d08e4f30f1286a9",
            "9f2c4efa98d46959",
            "b434f58d255e1423",
            "2476ea2db262f311",
            "0f52aa2daa753a42",
            "148b29436feeb6c0",
            "2155cece3023575f",
            "0abadd3c485ed8bc",
            "cbc6f61ab76d2cc3",
            "35fa3baa35733a03",
            "9ad01ad2eb5d368a"
        ],
        "x": 294,
        "y": 679,
        "w": 1412,
        "h": 322
    },
    {
        "id": "c608c69c39657097",
        "type": "ui_switch",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "",
        "label": "LED_1",
        "tooltip": "",
        "group": "4bdce1b5ab87d885",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "PlantPixel_led_1",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "7e81aeb62632958d",
                "0d2e3b4a4515120d"
            ]
        ]
    },
    {
        "id": "7e81aeb62632958d",
        "type": "mqtt out",
        "z": "dc0c0de9ad13d5be",
        "d": true,
        "g": "069136325b92f20b",
        "name": "LED_1",
        "topic": "PlantPixel_led_1",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35323c87448ad51c",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "9adbdb8402f2b37f",
        "type": "ui_switch",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "",
        "label": "Fan_1",
        "tooltip": "",
        "group": "4bdce1b5ab87d885",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "PlantPixel_fan_1",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "b46fad939bcdaa5c",
                "ee5a31e08ad6eb30"
            ]
        ]
    },
    {
        "id": "b46fad939bcdaa5c",
        "type": "mqtt out",
        "z": "dc0c0de9ad13d5be",
        "d": true,
        "g": "069136325b92f20b",
        "name": "Fan_1",
        "topic": "PlantPixel_fan_1",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35323c87448ad51c",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "0d2e3b4a4515120d",
        "type": "change",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "LED",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "f80c179c0636b403"
            ]
        ]
    },
    {
        "id": "ee5a31e08ad6eb30",
        "type": "change",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "Fan",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fan",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "f80c179c0636b403"
            ]
        ]
    },
    {
        "id": "f80c179c0636b403",
        "type": "ui_chart",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "",
        "group": "4bdce1b5ab87d885",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Actuators (On/Off)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "414510ea2e2e18bb",
        "type": "ui_switch",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "",
        "label": "LED_2",
        "tooltip": "",
        "group": "c25343d5a7ecf64f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "PlantPixel_led",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "8ea0dda8415203d4",
                "549c6d5c1f604b65"
            ]
        ]
    },
    {
        "id": "8ea0dda8415203d4",
        "type": "mqtt out",
        "z": "dc0c0de9ad13d5be",
        "d": true,
        "g": "2237b58f75426d4e",
        "name": "LED_2",
        "topic": "PlantPixel_led_2",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35323c87448ad51c",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "34dc6d3141990e25",
        "type": "ui_switch",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "",
        "label": "Fan_2",
        "tooltip": "",
        "group": "c25343d5a7ecf64f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "PlantPixel_fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "c415d6fa4c782f4e",
                "5e20a90f49eb6eb9"
            ]
        ]
    },
    {
        "id": "c415d6fa4c782f4e",
        "type": "mqtt out",
        "z": "dc0c0de9ad13d5be",
        "d": true,
        "g": "2237b58f75426d4e",
        "name": "Fan_2",
        "topic": "PlantPixel_fan_2",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35323c87448ad51c",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "549c6d5c1f604b65",
        "type": "change",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "LED",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "b422d5faae08de68"
            ]
        ]
    },
    {
        "id": "5e20a90f49eb6eb9",
        "type": "change",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "Fan",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fan",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "b422d5faae08de68"
            ]
        ]
    },
    {
        "id": "b422d5faae08de68",
        "type": "ui_chart",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "",
        "group": "c25343d5a7ecf64f",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Actuators (On/Off)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa257f1fe041cd4",
        "type": "ui_switch",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "label": "LED_3",
        "tooltip": "",
        "group": "0e7cb1b4cfad4780",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "PlantPixel_led",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "4f11ba76083c8b83",
                "e465ddc47d8d9158"
            ]
        ]
    },
    {
        "id": "4f11ba76083c8b83",
        "type": "mqtt out",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "LED_3",
        "topic": "PlantPixel_led_3",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35323c87448ad51c",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "41944042986d8449",
        "type": "ui_switch",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "label": "Fan_3",
        "tooltip": "",
        "group": "0e7cb1b4cfad4780",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "PlantPixel_fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 820,
        "wires": [
            [
                "c2965f22b63a0547",
                "d6d5dc0d1be80854"
            ]
        ]
    },
    {
        "id": "c2965f22b63a0547",
        "type": "mqtt out",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "Fan_3",
        "topic": "PlantPixel_fan_3",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35323c87448ad51c",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "e465ddc47d8d9158",
        "type": "change",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "LED",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 880,
        "wires": [
            [
                "72de137220e9d9c8"
            ]
        ]
    },
    {
        "id": "d6d5dc0d1be80854",
        "type": "change",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "Fan",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fan",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "72de137220e9d9c8"
            ]
        ]
    },
    {
        "id": "72de137220e9d9c8",
        "type": "ui_chart",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "group": "0e7cb1b4cfad4780",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Actuators (On/Off)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9d8d9ae5ae54db",
        "type": "mqtt in",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "topic": "PlantPixel_humid_3",
        "qos": "2",
        "datatype": "json",
        "broker": "35323c87448ad51c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 820,
        "wires": [
            [
                "2155cece3023575f"
            ]
        ]
    },
    {
        "id": "6d08e4f30f1286a9",
        "type": "mqtt in",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "topic": "PlantPixel_temp_3",
        "qos": "2",
        "datatype": "json",
        "broker": "35323c87448ad51c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "148b29436feeb6c0"
            ]
        ]
    },
    {
        "id": "9f2c4efa98d46959",
        "type": "mqtt in",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "topic": "PlantPixel_co2_3",
        "qos": "2",
        "datatype": "json",
        "broker": "35323c87448ad51c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 860,
        "wires": [
            [
                "0abadd3c485ed8bc"
            ]
        ]
    },
    {
        "id": "64b7089e12097f58",
        "type": "mqtt in",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "",
        "topic": "PlantPixel_rgbc_1",
        "qos": "2",
        "datatype": "utf8",
        "broker": "35323c87448ad51c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 260,
        "wires": [
            [
                "3476f86ab22b9fa3"
            ]
        ]
    },
    {
        "id": "3476f86ab22b9fa3",
        "type": "function",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "Preprocessing for RGB values",
        "func": "p = msg.payload;\nlet rgb = p.split(',');\nlet r = parseInt(rgb[0]) /16*500 // / 4097 * 255; \nlet g = parseInt(rgb[1]) /16*500 *1.3 // / 4097 * 255;\nlet b = parseInt(rgb[2]) /16*500 // / 4097 * 255;\n\nlet intSize = 16;\nlet output = [];\n\nfor (i=0; i < intSize * intSize; i++) {\n    output.push(r);\n    output.push(g);\n    output.push(b);\n}\n\noutput  = {\n    \"r\": r,\n    \"g\": g,\n    \"b\": b,\n    \"a\": 1\n}\n\nmsg.payload = output;\n// msg.payload = {\n//     _events: {\n//         _eventsCount: 0,\n//     },\n//     bitmap: {\n//         _background: 0,\n//         _originalMime: \"image/png\",\n//         _rgba: true\n//     }\n// };\n// msg.rgb = output;\n// msg.imageInfo = {\n//     hasAlpha: false,\n//     MIME: \"image/png\",\n//     quality: 100,\n//     width: intSize,\n//     height: intSize\n// } \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 260,
        "wires": [
            [
                "6af37b0d04f832f5"
            ]
        ]
    },
    {
        "id": "6af37b0d04f832f5",
        "type": "ui_colour_picker",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "",
        "label": "Plant Color",
        "group": "4bdce1b5ab87d885",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 13,
        "width": "6",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9baca3d41171d75e",
        "type": "mqtt in",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "",
        "topic": "PlantPixel_rgbc_2",
        "qos": "2",
        "datatype": "utf8",
        "broker": "35323c87448ad51c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "6586d8b791fa7268"
            ]
        ]
    },
    {
        "id": "6586d8b791fa7268",
        "type": "function",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "Preprocessing for RGB values",
        "func": "p = msg.payload;\nlet rgb = p.split(',');\nlet r = parseInt(rgb[0]) /16*500 // / 4097 * 255; \nlet g = parseInt(rgb[1]) /16*500 *1.3 // / 4097 * 255;\nlet b = parseInt(rgb[2]) /16*500 // / 4097 * 255;\n\nlet intSize = 16;\nlet output = [];\n\nfor (i=0; i < intSize * intSize; i++) {\n    output.push(r);\n    output.push(g);\n    output.push(b);\n}\n\noutput  = {\n    \"r\": r,\n    \"g\": g,\n    \"b\": b,\n    \"a\": 1\n}\n\nmsg.payload = output;\n// msg.payload = {\n//     _events: {\n//         _eventsCount: 0,\n//     },\n//     bitmap: {\n//         _background: 0,\n//         _originalMime: \"image/png\",\n//         _rgba: true\n//     }\n// };\n// msg.rgb = output;\n// msg.imageInfo = {\n//     hasAlpha: false,\n//     MIME: \"image/png\",\n//     quality: 100,\n//     width: intSize,\n//     height: intSize\n// } \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 580,
        "wires": [
            [
                "837b313976152080"
            ]
        ]
    },
    {
        "id": "837b313976152080",
        "type": "ui_colour_picker",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "",
        "label": "Plant Color",
        "group": "c25343d5a7ecf64f",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 13,
        "width": "6",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1590,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b434f58d255e1423",
        "type": "mqtt in",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "topic": "PlantPixel_rgbc_3",
        "qos": "2",
        "datatype": "utf8",
        "broker": "35323c87448ad51c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 960,
        "wires": [
            [
                "2476ea2db262f311"
            ]
        ]
    },
    {
        "id": "2476ea2db262f311",
        "type": "function",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "Preprocessing for RGB values",
        "func": "p = msg.payload;\nlet rgb = p.split(',');\nlet r = parseInt(rgb[0]) /16*500 // / 4097 * 255; \nlet g = parseInt(rgb[1]) /16*500 *1.3 // / 4097 * 255;\nlet b = parseInt(rgb[2]) /16*500 // / 4097 * 255;\n\nlet intSize = 16;\nlet output = [];\n\nfor (i=0; i < intSize * intSize; i++) {\n    output.push(r);\n    output.push(g);\n    output.push(b);\n}\n\noutput  = {\n    \"r\": r,\n    \"g\": g,\n    \"b\": b,\n    \"a\": 1\n}\n\nmsg.payload = output;\n// msg.payload = {\n//     _events: {\n//         _eventsCount: 0,\n//     },\n//     bitmap: {\n//         _background: 0,\n//         _originalMime: \"image/png\",\n//         _rgba: true\n//     }\n// };\n// msg.rgb = output;\n// msg.imageInfo = {\n//     hasAlpha: false,\n//     MIME: \"image/png\",\n//     quality: 100,\n//     width: intSize,\n//     height: intSize\n// } \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 960,
        "wires": [
            [
                "0f52aa2daa753a42"
            ]
        ]
    },
    {
        "id": "0f52aa2daa753a42",
        "type": "ui_colour_picker",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "label": "Plant Color",
        "group": "0e7cb1b4cfad4780",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 13,
        "width": "6",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1610,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "148b29436feeb6c0",
        "type": "ui_chart",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "group": "0e7cb1b4cfad4780",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1390,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2155cece3023575f",
        "type": "ui_chart",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "group": "0e7cb1b4cfad4780",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0abadd3c485ed8bc",
        "type": "ui_chart",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "",
        "group": "0e7cb1b4cfad4780",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "CO2 (ppm)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "cbc6f61ab76d2cc3",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "Fan/LED Controller",
        "info": "",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "440b17f67a4a8e82",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "Fan/LED Controller",
        "info": "",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "13785dc296258509",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "Fan/LED Controller",
        "info": "",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "82fcbe7ce721d6bd",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "069136325b92f20b",
        "name": "Color Sensor",
        "info": "",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "fd2ff5453e809dad",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "2237b58f75426d4e",
        "name": "Color Sensor",
        "info": "",
        "x": 1090,
        "y": 540,
        "wires": []
    },
    {
        "id": "35fa3baa35733a03",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "SCD-41 Sensor",
        "info": "",
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "9ad01ad2eb5d368a",
        "type": "comment",
        "z": "dc0c0de9ad13d5be",
        "g": "fabcb4cc818aa2a9",
        "name": "Color Sensor",
        "info": "",
        "x": 1090,
        "y": 920,
        "wires": []
    },
    {
        "id": "4bdce1b5ab87d885",
        "type": "ui_group",
        "name": "Plant Module 1",
        "tab": "a19063cb496ead13",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35323c87448ad51c",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c25343d5a7ecf64f",
        "type": "ui_group",
        "name": "Plant Module 2",
        "tab": "a19063cb496ead13",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e7cb1b4cfad4780",
        "type": "ui_group",
        "name": "Plant Module 3",
        "tab": "a19063cb496ead13",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a19063cb496ead13",
        "type": "ui_tab",
        "name": "PlantPixel Project_Web",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]